body {
  background-color: #f5f5f7;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  margin-top: .5em;
  font-weight: 700;
  font-size: 3.5em;
  color: #545454;
  animation: fadeIn 2s ease-in;
}

h5 {
  font-family: 'Open Sans', sans-serif;

  animation: fadeIn 2s ease-in;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #636363;
  animation: fadeIn 2s ease-in;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.input-group {
   margin: 2em 0;
}

.form-control {
    padding: 0.7em 1em;
    font-size: 1.2em;
    color: #2970FB;
    background-color: rgba(225, 225, 225, 0.2);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}



.submit-btn {
    padding: 0.9em 1em;
    color: #fff;
    background-color: #2970FB;
    border-color: #2970FB;
}

.submit-btn:hover {
  cursor: pointer;
}



::placeholder {
  color: #2970FB;
}

.pr-card {
   border-radius: 4px;
   border: 1px solid #BFBFBF;

   background-color: #fff;

   padding: 15px;
   margin: 15px;
   
   box-shadow: 0px 0px 5px 0px #1A1A26;

   color: #333
}
.MERGED { border: 1px solid #ae40fe; background-color: #FDF0FF; }

.pr-title {
   font-size: 1em;
   font-weight: bolder;
   text-align: left;
}
.pr-title a { 
  font-size: 1.25em;
  font-weight: bold; 
  color: #333333; 
}

.pr-state button {
  background-color: #3AAD31;
   color: white;
   border: 0px;
   border-radius: 25px;
}

.pr-image {
   width: 100%;
   max-width: 100px;
}

.footer-note a{
  color: #2970FB;
  text-decoration-line: none;
}

.footer-note a:hover {
  color: #636363;
  text-decoration-line: none;
}

.space {
  padding-bottom: 35px;
}

.fa-heart {
  color: #2970FB;
}

.repo-origin a {
    color: #7C7C7C;
}